




<div class="jumbotron m-5">
   
<p>
  <strong>Titel:</strong>
  <%= @post.titel %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
  <hr class="my-4">
  
  <%= link_to 'Edit', edit_post_path(@post),class: 'btn btn-info' %>
  <%= link_to 'Back', posts_path,class: 'btn btn-info' %>

</div>